#main-body {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0.1em;
}

#button-bar{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

#title{
    font-size: 6em;
    margin-bottom: 0.2em;
}

#info-text{
    margin-bottom: 0.5em;
}

hr.solid{
    margin: 1em;
    border-top: 0.1em solid black;
    width:100%;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#examples-button {
    margin-right: 2em;
}

#docs-button {
    margin-left: 2em;
}

.nav-button {
    width: 6em;
}